.Navbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.leftside{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.brand-name {
    font-size: var(--fz-heading);
    color: rgb(101, 8, 8);
    font-weight: bolder;
}
.brand-name > img {
    width: 25px;
}
.rightside{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.menu {
    flex: 10;
}
.menu>ul{
    display: flex;
    gap: 3rem;
    margin-right: 5rem;
}
.menu>ul>li{
    list-style: none;
    list-style-type: none;
}
.menu>ul>li:hover{
    cursor: pointer;
}
.sec{
    color: white;
    background-color: var(--lightest-navy);
}

.b {
    gap: 2rem;
    display: flex;
}
