#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}


:root
{
    --dark-navy: #020c1b;
    --blue: #041c3a;
    --light-navy: #02183d;
    --lightest-navy: #233554;
    --gray: #808080;
    --white: #e6f1ff;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 10px;
    --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

}

.button {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--lightest-navy);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fz-xs);
}
a{
  text-decoration: none;
  display: inline-block;
}
.App {
  
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 0.2rem 2rem;
}
.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px;
}